.body {
    background-color: var(--color5);
}

.productsToolbar {
    margin-bottom: 1.2rem;
}

.tabla {
    box-shadow: var(--shadow-hard);
    border: 2px solid var(--color1);
    margin-bottom: 3rem;
    border-radius: 0;
    background-color: white;
}

.inputEdit {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 40%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 2px solid var(--color1);
    border-radius: 0;
    transition: all 0.3s;
}

.tabla {
    overflow-x: auto

}

.tableIMG {
    width: 120px;
    height: 100px;
}

